{
    "tabWidth": 2,
    "useTabs": false,
    "semi": false,
    "singleQuote": true,
    "bracketSpacing": true,
    "endOfLine": "crlf",
    "jsxBracketSameLine": false,
    "jsxSingleQuote": true,
    "printWidth": 80,
    "trailingComma": "none",
    "embeddedLanguageFormatting": "auto"
}